.portfolio{
	background-color: #202022;
	text-align: center;

	.wrapper{
		display: inline-block;
	}

	h2{
		color: #fff;
	}

	.item{
		width: calc(100%/5);
		float: left;
		display: inline;
		position: relative;

		.details{
			width: 96%;
			height: 96%;
			position: absolute;
			margin: 0 2% 4% 2%;
			overflow: hidden;
			
			@include transition(.5s);

			.title{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 20;
		    	background-color: rgba(32, 32, 34, 0.9);
				opacity: 0;

				@include transition(.5s);

				h3{
					font-family: 'Open Sans', sans-serif;
					color: #fff;
					font-size: 16px;
					text-transform: uppercase;
					letter-spacing: 0.2px;
					font-weight: 400;
					padding: 0 10px;

					@include transition(.3s);
					transform: scale3d(1.1,1.1,1.1);
				}
		    }

			.bg{
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 10;
				top: 0; left: 0; right: 0; bottom: 0;
				background: center no-repeat;
				background-size: cover;
				transform: scale3d(1,1,1);
				overflow: hidden;
	    		@include border-radius(2px);

				@include transition(.3s);
			}
		}

		&:hover{
			.details{
				.title{
					opacity: 1;

					h3{
						transform: scale3d(1,1,1);
					}
				}
			}
			.bg{
				transform: scale3d(1.1,1.1,1.1);
			}
		}

		a{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			z-index: 30;
		}
	}
}

@media only screen and (max-width: 768px){
	.portfolio{

		.item{
			width: calc(100%/4);
		}
	}
}

@media only screen and (max-width: 600px){
	.portfolio{

		.item{
			width: calc(100%/3);

			.table{
				display: table;
			}

			.table-cell{
				display: table-cell;
			}
		}
	}
}

@media only screen and (max-width: 450px){
	.portfolio{

		.item{
			width: calc(100%/2);
		}
	}
}