.skills{
	background-color: #2c3e52;
	text-align: center;

	h2{
		color: #fff;
	}

	.wrapper{
		height: auto;
		display: inline-block;
	}

	.item{
	    width: 20%;
	    height: auto;
	    float: left;
	    display: block;
	    position: relative;

	    .details{
		    width: 96%;
		    height: 96%;
		    margin: 0 2% 4% 2%;
		    position: absolute;

		    background-color: #202022;

		    &.html{
		    	background: url(../img/skills/html5.png) center no-repeat #202022; 
		    	background-size: 50%;

		    	&:hover{
		    		background-color: #ff9447;
		    	}
		    }

		    &.css{
		    	background: url(../img/skills/css3.png) center no-repeat #202022; 
		    	background-size: 50%; 
		    	background-color: #202022;

		    	&:hover{
		    		background-color: #1b8bba;
		    	}
		    }

		    &.javascript{
		    	background: url(../img/skills/javascript.png) center no-repeat #202022; 
		    	background-size: 50%; 
		    	background-color: #202022;

		    	&:hover{
		    		background-color: #d5941c;
		    	}
		    }

		    &.angular{
		    	background: url(../img/skills/angular.png) center no-repeat #202022; 
		    	background-size: 60%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #A5110D;
		    	}
		    }

		    &.sass{
		    	background: url(../img/skills/sass.png) center no-repeat #202022; 
		    	background-size: 50%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #CD6799;
		    	}
		    }

		    &.gulp{
		    	background: url(../img/skills/gulp.png) center no-repeat #202022; 
		    	background-size: cover; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #E84C50;
		    	}
		    }

		    &.nodejs{
		    	background: url(../img/skills/nodejs.png) center no-repeat #202022; 
		    	background-size: 50%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #669735;
		    	}
		    }

		    &.bower{
		    	background: url(../img/skills/bower.png) center no-repeat #202022; 
		    	background-size: 50%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #fabd00;
		    	}
		    }

		    &.php{
		    	background: url(../img/skills/php.png) center no-repeat #202022; 
		    	background-size: 60%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #6082BB;
		    	}
		    }

		    &.python{
		    	background: url(../img/skills/python.png) center no-repeat #202022; 
		    	background-size: 40%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #2a5579;
		    	}
		    }

		    &.django{
		    	background: url(../img/skills/django.png) center no-repeat #202022; 
		    	background-size: 60%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #0b2a1f;
		    	}
		    }

		    &.git{
		    	background: url(../img/skills/git.png) center no-repeat #202022; 
		    	background-size: 80%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #e03010;
		    	}
		    }

		    &.wordpress{
		    	background: url(../img/skills/wordpress.png) center no-repeat #202022; 
		    	background-size: 40%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #195671;
		    	}
		    }

		    &.yeoman{
		    	background: url(../img/skills/yeoman.png) center no-repeat #202022; 
		    	background-size: 45%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #4292a0;
		    	}
		    }

		    &.jquery{
		    	background: url(../img/skills/jquery.png) center no-repeat #202022; 
		    	background-size: 80%; 
		    	background-color: #202022;

		    	&:hover{
					background-color: #146c86;
		    	}
		    }

	    	@include border-radius(3px);
	    	@include transition(.5s);

	    	h5{
	    		font-family: 'Raleway', sans-serif;
	    		font-size: 16px;
	    		color: #efefef;
	    		text-align: center;
	    		padding: 5px;
	    	}
	    }

    	img{
	    	width: 100%;
	    	display: block;
	    }
	}
}

@media only screen and (max-width: 768px)
{
	.skills{
		.item{
			width: calc(100% / 4);
		}
	}
}

@media only screen and (max-width: 600px){
	.skills{
		.item{
			width: calc(100% / 3);
		}
	}
}

@media only screen and (max-width: 450px){
	.skills{
		.item{
			width: calc(100% / 2);
		}
	}
}