@import 'mixin';

*{
    font-smoothing: antialiased;
	box-sizing: border-box;
	text-decoration: none; 
	appearance: none;
	outline: none;
	padding: 0; 
	outline: 0; 
	margin: 0; 
	border: 0; 
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body{
	min-width: 320px;
	height: 100%;
}

img{
	width: 100%;
	display: block;
}

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

.mCSB_outside+.mCSB_scrollTools{
	right: 0;
	z-index: 1000;
}

.mCS-vho.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #00a2d1; }
.mCS-vho.mCSB_scrollTools .mCSB_draggerRail{ background-color: #878787; } 

object{
	display: none;
}

section{
	width: 100%;
	float: left;
	padding: 100px 20px;
}

.wrapper{
	max-width: 990px;
	margin: 0 auto;
}

.table{
	display: table;
	width: 100%;
	height: 100%;
}

.table-cell{
	width: 100%;
	height: 100%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

h2{
	position: relative;
	padding-bottom: 35px;
	margin-bottom: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 55px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	&:after{
		content : ' ';
		width: 60px;
		height: 3px;
		display: inline-block;
		background-color: #00a2d1;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -30px;
	}
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	text-align: center;

	& strong{
		font-weight: 600;
	}
}

nav.menu{
	width: 100%;
	height: auto;
	padding: 20px;
	background-color: rgba(#202022, .9);
	position: fixed;
	z-index: 100;
	top: 0; left: 0; right: 0;

	&.fixed{
		top: 0;
		bottom: initial;
	}

	a.icon-menu{
		display: none;
	}

	h2{
		font-family: 'Open Sans', sans-serif;
		font-size: 30px;
		color: #fff;
		font-weight: 300;
		text-transform: lowercase;
		margin-bottom: 0;
		padding-bottom: 0;
		float: left;
		display: inline;

		&:after{
			display: none;
		}

		span{
			font-weight: 700;
			color: #00a2d1;
		}
	}

	.cont-menu{
		float: right;
		display: inline;
	}

	ul.links{
		height: 40px;
		float: left;
		display: inline;
		line-height: 40px;

		li{
			float: left;
			display: inline;
			margin-right: 10px;

			a{
				font-family: 'Open Sans', sans-serif;
				color: #fff;
				font-size: 14px;
				text-transform: uppercase;

				&.active{
					color: #00a2d1;
				}
			}
		}
	}

	ul.social{
		float: left;
		display: inline;

		li{
			height: 40px;
			line-height: 40px;
			float: left;
			display: inline;
			margin-left: 10px;

			a.btn{
				width: 30px;
				height: 30px;
				display: block;
				text-align: center;
				line-height: 30px;
				background-color: #2c3e52;
				border-radius: 50%;
				margin-top: 5px;

				@include transition(.2s);

				@include box-shadow(#2c3e52, 0);

				&.btn-facebook:hover{
					@include box-shadow-hover(#3b5998, 1);
				}

				&.btn-linkedin:hover{
					@include box-shadow-hover(#007bb5, 1);
				}

				&.btn-github:hover{
					@include box-shadow-hover(#000, 1);
				}

				i{
					color: #fff;
					font-size: 14px;
				}
			}
		}
	}
}

@import 'highlight';
@import 'about';
@import 'summary';
@import 'skills';
@import 'portfolio';
@import 'contact';

footer{
	width: 100%;
	float: left;
	padding: 25px 20px;
	background-color: #202022;
	text-align: center;

	a.btn{
		width: 26px;
		line-height: 26px;
		display: inline-block;
		background-color: #fff;
		border-radius: 50%;
		margin: 0 5px;

		i{
			color: #202022;
			font-size: 14px;
		}
	}
}

.loading{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 1000;
	background: rgba(0,0,0,0.8) url(../img/loading.gif) center no-repeat;
	display: none;
}

@media only screen and (max-width: 800px){
	h2{
		font-size: 7vw;
		padding-bottom: 4.3vw;
		margin-bottom: 5vw;
	}

	p{
		font-size: 2vw;
	}
}

@media only screen and (max-width: 768px){
	nav.menu {
		a.icon-menu{
			width: 33px;
			height: 47px;
			float: left;
			display: block;
			margin: 0 20px 0 0;

			@include rotate(0deg);
			@include transition(.5s);

			span{
				width: 50%;
				height: 6px;
				float: left;
				display: inline-block;
				background: #fff;
				margin-bottom: 6px;
				position: absolute;

				@include rotate(0deg);
				@include transition(.25s);

				&:nth-child(even){
					left: 50%;
				}

				&:nth-child(odd){
					left: 0px;
				}

				&:nth-child(1),
				&:nth-child(2){
					top: 10px;
				}

				&:nth-child(3),
				&:nth-child(4){
					top: 20px;
				}

				&:nth-child(5),
				&:nth-child(6){
					top: 30px;
				}
			}

			&.open{
				span{
					&:nth-child(1),
					&:nth-child(6){
						@include rotate(45deg);
					}

					&:nth-child(2),
					&:nth-child(5){
						@include rotate(-45deg);
					}

					&:nth-child(1){
						left: 3px;
						top: 13px;
					}

					&:nth-child(2){
						left: calc(50% - 3px);
						top : 13px;
					}

					&:nth-child(3){
						left: -45px;
						opacity: 0;
					}

					&:nth-child(4){
						left: 100%;
						opacity: 0;
					}

					&:nth-child(5){
						left: 3px;
						top: 23px;
					}

					&:nth-child(6){
						left: calc(50% - 3px);
						top: 23px;
					}
				}
			}
		}
	}

	nav.menu{
		.cont-menu{
		    width: 220px;
		    height: 100vh;
		    position: absolute;
		    top: 67px;
		    left: -300%;
		    z-index: 100;
		    overflow-y: auto;
			background-color: rgba(#202022, 1.0);
			padding-bottom: 90px;

			@include transition(.25s);

			&.open{
				left: 0;
			}

			ul.links{
				width: 100%;
				height: auto;

				li{
					width: 100%;
					float: left;
					display: inline;
					padding: 10px 0;

					&.active{
						background-color: #00a2d1;

						a{
							color: #fff;
						}
					}

					a{
						width: 100%;
						height: 100%;
						padding-left: 30px;
						font-weight: 700;
					}
				}
			}

			ul.social{
				width: 100%;
				float: left;
				display: inline;

				li{
					width: (100/3)+%;
					margin: 0;
					text-align: center;

					a{
						width: 40px;
						height: 40px;
						line-height: 40px;
						display: inline-block;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 767px){
	.table,
	.table-cell{
		display: block;
	}
}

@media only screen and (max-width: 700px){
	h2{
		font-size: 40px;
		padding-bottom: 25px;
		margin-bottom: 30px;
	}

	p{
		font-size: 14px;
	}

	section{
		padding: 50px 10px;
	}
}

@media only screen and (max-width: 768px), screen and (max-height: 510px){
	nav.menu{
		position: fixed;
		top: 0;
		bottom: initial;
		padding: 10px 20px;
	}
}